---
import { Icon } from "astro-icon";
const {} = Astro.props;
---

<section class="relative">
  <div
    class="absolute inset-0 bg-rose-600 dark:bg-slate-800 pointer-events-none mb-32"
    aria-hidden="true"
  >
  </div>
  <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
      <div class="mb-8 text-center">
        <p
          class="text-base text-blue-900 dark:text-blue-200 font-semibold tracking-wide uppercase"
        >
          Interactive Components
        </p>
        <h2
          class="text-4xl md:text-5xl text-orange-50 font-bold leading-tighter tracking-tighter mb-4"
        >
            Husker Stories that come to life
        </h2>
        <p
          class="max-w-3xl mx-auto text-center text-xl text-slate-200 dark:text-slate-400"
        >
         Blogging, Forums, Live Chat, and Interactive Components for predicting games and telling your story like you've
         never seen before!
        </p>
      </div>
      <div
        class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white"
      >
        <div
          class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
        >
          <div class="flex items-center mb-4">
            <Icon name="emojione-v1:american-football" class="w-12 h-12" />

            <div class="ml-4 text-xl font-bold">Live Scoreboards</div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            Never miss a score with our NCAA Scores API and streaming score tickers on our website.
          </p>
        </div>
        <div
          class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
        >
          <div class="flex items-center mb-4">
            <Icon name="fa-solid:blog" class="w-12 h-12" />

            <div class="ml-4 text-xl font-bold">Monetize Your Blog</div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            With multiple ways to monetize your content, by SDKs or selling a subscription, our platform helps support you.
          </p>
        </div>
        <div
          class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
        >
          <div class="flex items-center mb-4">
            <Icon name="flat-color-icons:full-trash" class="w-12 h-12" />
            <div class="ml-4 text-xl font-bold">Talk Trash to Rivals</div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            With our forums and live chat, there are unlimited ways that you can let your cross-state rival know who's boss!
          </p>
        </div>
        <div
          class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
        >
          <div class="flex items-center mb-4">
            <Icon name="fluent:content-settings-32-regular" class="w-12 h-12" />

            <div class="ml-4 text-xl font-bold">Publish Optimized Media</div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            You want your team looking the best - optimize your media and content before publishing.
          </p>
        </div>
        <div
          class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
        >
          <div class="flex items-center mb-4">
            <Icon name="flat-color-icons:calculator" class="w-12 h-12" />
            <div class="ml-4 text-xl font-bold">Calculate Stats</div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            Discover the beauty of data analytics with our resources that help you query and visualize data easily!
          </p>
        </div>
        <div
          class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
        >
          <div class="flex items-center mb-4">
            <Icon name="flat-color-icons:voice-presentation" class="w-12 h-12"
            />
            <div class="ml-4 text-xl font-bold">Community</div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            Enjoy the benefits of a large community in the future when we build out into new teams and conferences.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
