---
const {} = Astro.props;
---

<section class="relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div
        class="max-w-3xl mx-auto bg-rose-600 text-center p-6 rounded-md shadow-xl dark:shadow-none"
      >
        <h2
          class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4"
        >
          <span class="text-orange-50">Husker</span>JS
          </span>
        </h2>
        <p class="text-xl text-orange-50 dark:text-slate-400">
          Sign up for early access and updates today!
        </p>
        <form name="contact" method="POST" data-netlify="true">
          <p class="py-5">
            <label class="text-orange-50">Your Name: <input type="text" name="name" /></label>
          </p>
          <p>
            <label class="text-orange-50">Your Email: <input type="email" name="email" /></label>
          </p>
        <div class="mt-6">
          <button
            class="btn text-white bg-emerald-600 hover:bg-gray-800 sm:mb-0 font-bold"
            type="submit"
            target="_blank"
            rel="noopener"
            >Sign Up
          </button>
        </div>
      </div>
      </form>
    </div>
  </div>
</section>
