---
import { Icon } from "astro-icon";
const {} = Astro.props;
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <h2
        class="max-w-lg mb-4 font-sans text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto"
      >
        Frequently Asked Questions
      </h2>
    </div>
  </div>
  <div class="max-w-screen-xl sm:mx-auto">
    <div class="grid grid-cols-1 gap-8 lg:gap-16 row-gap-8 md:grid-cols-2">
      <div class="space-y-8">
        <div>
          <p class="mb-4 text-xl font-bold">
            <Icon
              name="tabler:arrow-down-right"
              class="w-7 h-7 text-blue-500 inline-block icon-bold"
            />
            How do I get started?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Sign up for the newsletter, join our community groups,
            and start talking trash to other fans until your heart
            is full.
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Share with your network so we can grow this platform
            quickly and for more teams.
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-bold">
            <Icon
              name="tabler:arrow-down-right"
              class="w-7 h-7 text-blue-500 inline-block icon-bold"
            />
            How do I install this template site to get going?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
           You can head on over to this websites GitHub Repository
           and `git clone` the repository.
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Once you clone the repository, `cd` into the HuskerJS-official
            directory and run `npm install`. After your packages finish installing,
            run `npm run dev' and code something pretty!`
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-bold">
            <Icon
              name="tabler:arrow-down-right"
              class="w-7 h-7 text-blue-500 inline-block icon-bold"
            />
            What's your worst fear about this season?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            I honestly don't have expectations anymore and try not to
            emotionally attach myself to the team like I used to. Nevertheless
            I'll probably have a meltdown when we're 4-6 again...
          </p>
        </div>
      </div>
      <div class="space-y-8">
        <div>
          <p class="mb-4 text-xl font-bold">
            <Icon
              name="tabler:arrow-down-right"
              class="w-7 h-7 text-blue-500 inline-block icon-bold"
            />
            Who's the best Husker player of all time?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Eric Crouch - he was my hero as a kid. He would just straight
            up tear dudes apart by running through them, around them, and
            in between the tackles. RIP Power-Option
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-bold">
            <Icon
              name="tabler:arrow-down-right"
              class="w-7 h-7 text-blue-500 inline-block icon-bold"
            />
            What was the craziest Husker moment you saw live?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            I was actually at the 2012 Northwestern Hailmary Game when Ron Kellog III
            hit Jordan Westerkamp in the end zone to win the game!
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            I still can't believe that one went our way - sheesh!
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-bold">
            <Icon
              name="tabler:arrow-down-right"
              class="w-7 h-7 text-blue-500 inline-block icon-bold"
            />
            Who is going to win the national championship this year?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            You know - I really didn't do as much off-season reading as I normally do this year.
            But I'm going to 100% confidently say Alabama. It's been a year since they won it so
            they have another one comin.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
