---
import Picture from "~/components/core/Picture.astro";
const {} = Astro.props;
---

<section class="px-4 py-16 bg-rose-600 mx-auto max-w-6xl lg:py-20">
  <div class="flex flex-col mb-6 lg:justify-between lg:flex-row md:mb-8">
    <h2
      class="max-w-lg mb-2 font-sans text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none lg:mb-5 group"
    >
      <span class="inline-block mb-1 text-orange-50 sm:mb-4"
        >Stay up to date<br class="hidden md:block" /> with our Blog
      </span>
    </h2>
    <p
      class="text-gray-700 text-orange-50 dark:text-slate-400 lg:text-sm lg:max-w-md"
    >
      The HuskerJS blog will have a lot of interesting articles about Nebraska
      football but more importantly, it will have any issues or features
      releases, product updates, and much more from the HuskerJS team. Stay
      tuned - you won't want to miss out on what is to come!
    </p>
  </div>

  <div class="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-4 -mb-6">
    <div class="mb-6 transition">
      <Picture
        src={import("~/assets/images/weekonehusker.jpg")}
        class="object-cover w-full h-64 mb-6 rounded shadow-lg bg-gray-400 dark:bg-slate-700"
        widths={[400]}
        alt="Post 2 Image"
        aspectRatio="16:9"
      />
      <h3 class="mb-2 text-xl font-bold leading-snug sm:text-2xl">
        <a
          href="/blog/gameday-week-zero-nebraska-cornhuskers-vs-northwestern-wildcats.md"
          class="hover:text-blue-600 underline text-emerald-500 underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
          >HuskerJS Gameday Week One North Dakota
        </a>
      </h3>
      <p class="text-orange-50 dark:text-gray-400">
        It's Gameday week one and I got my first Video Blog up and gameday
        preview. Check it out!
      </p>
    </div>

    <div class="mb-6 transition">
      <Picture
        src={import("~/assets/images/nunw.jpg")}
        class="object-cover w-full h-64 mb-6 rounded shadow-lg bg-gray-400 dark:bg-slate-700"
        widths={[400]}
        alt="Post 1 Image"
        aspectRatio="16:9"
      />
      <h3 class="mb-2 text-xl font-bold leading-snug sm:text-2xl">
        <a
          href="/blog/how-to-customize-astrowind-to-your-brand"
          class="hover:text-blue-600 underline text-emerald-500 underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
          >Finding New Ways to Lose With Nebraska
        </a>
      </h3>
      <p class="text-orange-50 dark:text-gray-400">
        On this week's episode of Finding New Ways to Lose football games:
        Puking, Keeping the Ball Away From Playmakers 101, and the ol YOLOnside
        kick
      </p>
    </div>

    <div class="mb-6 transition">
      <Picture
        src={import("~/assets/images/memorial.jpg")}
        class="object-cover w-full h-64 mb-6 rounded shadow-lg bg-gray-400 dark:bg-slate-700"
        widths={[400]}
        alt="Post 3 Image"
        aspectRatio="16:9"
      />
      <h3 class="mb-2 text-xl font-bold leading-snug sm:text-2xl">
        <a
          href="/blog/useful-resources-to-create-websites"
          class="hover:text-blue-600 underline text-emerald-500 underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
          >Nebraska 2022 Season Preview
        </a>
      </h3>
      <p class="text-orange-50 dark:text-gray-400">
        This is somewhat a brief preview given how big of a fan I am, but it
        will have to do as it is only a few hours to game time
      </p>
    </div>

    <div class="mb-6 transition">
      <Picture
        src={import("~/assets/images/northdakotau.jpg")}
        class="object-cover w-full h-64 mb-6 rounded shadow-lg bg-gray-400 dark:bg-slate-700"
        widths={[400]}
        alt="North Dakota Fighting Hawks"
        aspectRatio="16:9"
      />
      <h3 class="mb-2 text-xl font-bold leading-snug sm:text-2xl">
        <a
          href="/blog/astrowind-template-in-depth"
          class="hover:text-blue-600 underline text-emerald-500 underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
          >Gameday Week One: North Dakota Fighting Hawks at Nebraska Cornhuskers
        </a>
      </h3>
      <p class="text-orange-50 dark:text-gray-400">
        North Dakota University comes to Lincoln on Saturday, scratching for
        leftovers from the 'Debacle in Dublin' - Oh give me a fucking break
        please...
      </p>
    </div>
  </div>
</section>
