---
import { Icon } from "astro-icon";
import Picture from "~/components/core/Picture.astro";

const {} = Astro.props;
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
  <div class="grid gap-6 row-gap-10 md:grid-cols-2">
    <div class="md:py-6 md:pr-16 text-gray-700 dark:text-gray-400">
      <div class="flex">
        <div class="flex flex-col items-center mr-4">
          <div>
            <div
              class="flex items-center justify-center w-10 h-10 rounded-full border-pink-500 border-2"
            >
              <Icon
                name="tabler:arrow-down"
                class="w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold"
              />
            </div>
          </div>
          <div class="w-px h-full bg-gray-300 dark:bg-slate-500"></div>
        </div>
        <div class="pt-1 pb-8">
          <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">
            Step 1: MVP
          </p>
          <p>
            The very first edition that you are now seeing is the minimum viable product.
            The next editions of the project will be very different as this is mainly to
            get potential users to try it and get a mailing list. Comment on read-only
            posts, connect to community, and sign up for newsletter.
          </p>
        </div>
      </div>
      <div class="flex">
        <div class="flex flex-col items-center mr-4">
          <div>
            <div
              class="flex items-center justify-center w-10 h-10 rounded-full border-pink-500 border-2"
            >
              <Icon
                name="tabler:arrow-down"
                class="w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold"
              />
            </div>
          </div>
          <div class="w-px h-full bg-gray-300 dark:bg-slate-500"></div>
        </div>
        <div class="pt-1 pb-8">
          <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">
            Step 2: Sign Up for Early Access
          </p>
          <p>
            The first edition will be out after opening weekend and the first
            bloggers/sports fans to sign up, will get the opportunity to be
            early-access users and the first stake in voting proxy for our DAO/Community.
          </p>
        </div>
      </div>
      <div class="flex">
        <div class="flex flex-col items-center mr-4">
          <div>
            <div
              class="flex items-center justify-center w-10 h-10 rounded-full border-pink-500 border-2"
            >
              <Icon
                name="tabler:arrow-down"
                class="w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold"
              />
            </div>
          </div>
          <div class="w-px h-full bg-gray-300 dark:bg-slate-500"></div>
        </div>
        <div class="pt-1 pb-8">
          <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">
            Step 3: Live Product Launch
          </p>
          <p>
            The official first version will be out hopefully within the first weeks
            of the season, but we want to get as many people up and blogging as soon
            as possible to build out our databases and have a good SEO presence
          </p>
        </div>
      </div>
      <div class="flex">
        <div class="flex flex-col items-center mr-4">
          <div>
            <div
              class="flex items-center justify-center w-10 h-10 rounded-full border-blue-600 border-2"
            >
              <Icon
                name="tabler:check"
                class="w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold"
              />
            </div>
          </div>
        </div>
        <div class="pt-1">
          <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">
            Ready! Start blogging, engaging with fellow fans, and making money.
          </p>
          <p class="text-gray-700"></p>
        </div>
      </div>
    </div>
    <div class="relative">
      <Picture
        class="inset-0 object-cover object-top w-full rounded-md shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700"
        src={import("~/assets/images/nebrb.jpg")}
        widths={[400, 768]}
        sizes="(max-width: 768px) 100vw, 432px"
        alt="Astronaut"
        aspectRatio="432:768"
      />
    </div>
  </div>
</section>
