---
const {} = Astro.props;
---

<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
    <div class="py-12 md:py-20">
      <div class="py-4 sm:py-6 lg:py-8">
        <div class="flex flex-wrap md:-mx-8">
          <div class="w-full lg:w-1/2 px-0 sm:px-8">
            <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
              <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
                3 Ways to Follow HuskerJS Dev today so you don't miss out on any hot takes!
              </h2>
              <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
                I will be livestreaming and tweeting throughout the game - follow
                me at any of my links and say hi!
              </p>
              <div class="w-full">
                <a
                  class="btn bg-blue-600 hover:bg-blue-700 text-white font-bold"
                  href="https://github.com/onwidget/astrowind"
                  target="_blank"
                  rel="noopener"
                >
                  Get Gameday Links!
                </a>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/2 px-0 sm:px-8">
            <ul class="space-y-12">
              <li class="flex md:-mx-4">
                <div class="pr-4 sm:pl-4">
                  <span
                    class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-blue-50 text-blue-600"
                  >
                    1
                  </span>
                </div>
                <div class="px-4">
                  <h3 class="mb-4 text-xl font-semibold">
                    Reddit Channel - r/HuskerJS
                  </h3>
                  <p class="text-gray-500 dark:text-gray-400">
                    This is one of the places you should always check if you are looking for me.
                    Will be hosting early posts by community there and also having a live chat.
                  </p>
                </div>
              </li>
              <li class="flex md:-mx-4">
                <div class="pr-4 sm:pl-4">
                  <span
                    class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-blue-50 text-blue-600"
                  >
                    2
                  </span>
                </div>
                <div class="px-4">
                  <h3 class="mb-4 text-xl font-semibold">Twitter - Follow @GeauxWeisbeck4</h3>
                  <p class="text-gray-500 dark:text-gray-400">
                    If I'm not tweeting, I'm probably doing something very important because it takes
                    a lot to get me off Twitter. I'll have a talk space sometime today as well as delivering
                    the livest tweets of the day.
                  </p>
                </div>
              </li>
              <li class="flex md:-mx-4">
                <div class="pr-4 sm:pl-4">
                  <span
                    class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-blue-50 text-blue-600"
                  >
                    3
                  </span>
                </div>
                <div class="px-4">
                  <h3 class="mb-4 text-xl font-semibold">Sign Up For<a href="#"> Newsletter & Early Access</a></h3>
                  <p class="text-gray-500 dark:text-gray-400">
                    If you are interested in HuskerJS at all, I strongly
                    urge you subscribe to our mailing list. Sign up at the
                    bottom of the page <a class="text-blue-600" href="#">sign up here</a>.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
