---
const {} = Astro.props;
---

<section class="scroll-mt-16" id="features">
  <div
    class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-rose-50 dark:bg-slate-800"
  >
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <p
        class="text-base text-rose-600 dark:text-blue-200 font-semibold tracking-wide uppercase"
      >
        Featured Story
      </p>
      <h2
        class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4"
      >
        Six predictions for  <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500 whitespace-nowrap"
          >Week Zero!
        </span>
      </h2>
      <p
        class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400"
      >
        While there isn't really any big powerhouse matchups, there are some intriguing lines and games to watch
        in Week Zero.
      </p>
    </div>
    <div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
      <div class="space-y-8 sm:px-8">
        <div class="flex flex-row max-w-md">
          <div class="mb-4 mr-4">
            <div
              class="flex items-center justify-center w-12 h-12 rounded-full bg-blue-500"
            >
              <svg
                class="w-12 h-12 p-0.5"
                viewBox="0 0 64 64"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g fill="none" fill-rule="evenodd">
                  <rect
                    class="fill-current text-blue-600"
                    width="64"
                    height="64"
                    rx="32"></rect>
                  <g stroke-linecap="square" stroke-width="2">
                    <path
                      class="stroke-current text-white"
                      d="M20.571 20.571h13.714v17.143H20.571z"
                    >
                    </path>
                    <path
                      class="stroke-current text-blue-300"
                      d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
                    >
                    </path>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div>
            <h3 class="mb-3 text-xl font-bold">
              Nebraska Beats Northwestern
            </h3>
            <p>
              I just don't see how we have a letdown here - I know
              I've bit my tongue for saying that many times before,
              but I'm confident this year is different. New staff,
              new attitude, and new 'Skers!
            </p>
          </div>
        </div>
        <div class="flex flex-row max-w-md">
          <div class="mb-4 mr-4">
            <div
              class="flex items-center justify-center w-12 h-12 rounded-full bg-blue-500"
            >
              <svg
                class="w-12 h-12 p-0.5"
                viewBox="0 0 64 64"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g fill="none" fill-rule="evenodd">
                  <rect
                    class="fill-current text-blue-600"
                    width="64"
                    height="64"
                    rx="32"></rect>
                  <g stroke-linecap="square" stroke-width="2">
                    <path
                      class="stroke-current text-white"
                      d="M20.571 20.571h13.714v17.143H20.571z"
                    >
                    </path>
                    <path
                      class="stroke-current text-blue-300"
                      d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
                    >
                    </path>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div>
            <h3 class="mb-3 text-xl font-bold">There's a Big QB Battle in Chapel Hill</h3>
            <p>
              There's a lot of questions around this position with the Tarheels
              losing their stud QB Sam Howell to the NFL. Watch tonight to see who
              takes the most snaps against Florida A&M.
            </p>
          </div>
        </div>
        <div class="flex flex-row max-w-md">
          <div class="mb-4 mr-4">
            <div
              class="flex items-center justify-center w-12 h-12 rounded-full bg-blue-500"
            >
              <svg
                class="w-12 h-12 p-0.5"
                viewBox="0 0 64 64"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g fill="none" fill-rule="evenodd">
                  <rect
                    class="fill-current text-blue-600"
                    width="64"
                    height="64"
                    rx="32"></rect>
                  <g stroke-linecap="square" stroke-width="2">
                    <path
                      class="stroke-current text-white"
                      d="M20.571 20.571h13.714v17.143H20.571z"
                    >
                    </path>
                    <path
                      class="stroke-current text-blue-300"
                      d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
                    >
                    </path>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div>
            <h3 class="mb-3 text-xl font-bold">The Over Always Hits</h3>
            <p>
              There will be a lot of sloppy plays, big trick plays, and much
              more you can't really predict or anticipate in Week 1 - take the over!
              Duh!
            </p>
          </div>
        </div>
      </div>
      <div class="space-y-8 sm:px-8">
        <div class="flex flex-row max-w-md">
          <div class="mb-4 mr-4">
            <div
              class="flex items-center justify-center w-12 h-12 rounded-full bg-blue-500"
            >
              <svg
                class="w-12 h-12 p-0.5"
                viewBox="0 0 64 64"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g fill="none" fill-rule="evenodd">
                  <rect
                    class="fill-current text-blue-600"
                    width="64"
                    height="64"
                    rx="32"></rect>
                  <g stroke-linecap="square" stroke-width="2">
                    <path
                      class="stroke-current text-white"
                      d="M20.571 20.571h13.714v17.143H20.571z"
                    >
                    </path>
                    <path
                      class="stroke-current text-blue-300"
                      d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
                    >
                    </path>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div>
            <h3 class="mb-3 text-xl font-bold">Vegas Up on Northwestern</h3>
            <p>
              The line has edged closer to -10.5 Nebraska this morning, showing that
              an influx of Northwestern bets are pooling in leading up to game time.
            </p>
          </div>
        </div>
        <div class="flex flex-row max-w-md">
          <div class="mb-4 mr-4">
            <div
              class="flex items-center justify-center w-12 h-12 rounded-full bg-blue-500"
            >
              <svg
                class="w-12 h-12 p-0.5"
                viewBox="0 0 64 64"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g fill="none" fill-rule="evenodd">
                  <rect
                    class="fill-current text-blue-600"
                    width="64"
                    height="64"
                    rx="32"></rect>
                  <g stroke-linecap="square" stroke-width="2">
                    <path
                      class="stroke-current text-white"
                      d="M20.571 20.571h13.714v17.143H20.571z"
                    >
                    </path>
                    <path
                      class="stroke-current text-blue-300"
                      d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
                    >
                    </path>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div>
            <h3 class="mb-3 text-xl font-bold">Late Night Football in Hawaii</h3>
            <p>
              I love late kickoffs - we get one tonight from Honolulu when the Warriors
              take on Vanderbilt. I predict an upset Hawaii win!
            </p>
          </div>
        </div>
        <div class="flex flex-row max-w-md">
          <div class="mb-4 mr-4">
            <div
              class="flex items-center justify-center w-12 h-12 rounded-full bg-blue-500"
            >
              <svg
                class="w-12 h-12 p-0.5"
                viewBox="0 0 64 64"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g fill="none" fill-rule="evenodd">
                  <rect
                    class="fill-current text-blue-600"
                    width="64"
                    height="64"
                    rx="32"></rect>
                  <g stroke-linecap="square" stroke-width="2">
                    <path
                      class="stroke-current text-white"
                      d="M20.571 20.571h13.714v17.143H20.571z"
                    >
                    </path>
                    <path
                      class="stroke-current text-blue-300"
                      d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
                    >
                    </path>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div>
            <h3 class="mb-3 text-xl font-bold">
              Don't Blow Your Bankroll in Week 0
            </h3>
            <p>
              Just a little PSA about gambling - DON'T BLOW YOUR BANKROLL ON WEEK 0!
              You know nothing about these teams, maybe saw one of them play in the spring,
              and have no idea what will happen today. Wait until at least week one to blow your
              entire bankrolL!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
