---
import { SITE } from "~/config.mjs";
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from "~/layouts/PageLayout.astro";


const title = `${SITE.name} — Everyday is gameday here`;
const description = "🌽 HuskerJS is your clutch-time sports web dev platform.";
const canonical = new URL("", Astro.site);
---

<Layout meta={{ title, description, canonical }}>
    <h1>Work on this page has been discontinued due to a lack of interest</h1>
</Layout>
